html, body, #root {
    height: 100%;
    width: 100%;
  }

* {
  box-sizing: border-box;
}

@media only screen and (min-width: 320px) {
  .fixTextSize {
    font-size: 9px !important;
  }
}

@media only screen and (min-width: 414px) {
  .fixTextSize {
    font-size: 12px !important;
  }
}

@media only screen and (min-width: 768px) {
  .responsiveWidth {
    width: 33% !important;
  }
  .fixTextSize {
    font-size: 16px !important;
  }
}

@media only screen and (min-width: 1024px) {
  .responsiveWidth {
    width: 33% !important;
  }
  .fixTextSize {
    font-size: 16px !important;
  }
}

@media only screen and (min-width: 1025px) {
  .responsiveWidth {
    width: 25% !important;
  }
  .fixTextSize {
    font-size: 15px !important;
  }
}